*{
  color: #293241;

}
.event-btn{
  display: flex;
  gap:1rem;
  justify-content: space-between;
  align-items: center;
}
.event-btn i{
  color:white;
}
#white{
  color:white;
}
.form-control{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  padding:0.25rem 0.5rem;
}
.search-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:2rem;
  padding:0.5rem 1.5rem;
  background-color: #4c4d50;
  color:white;
  border-radius: 1rem;
  border:none;
  border-color:#4c4d50 ;
}
.search-btn:hover{
  background-color: #38393a;
}
.search-btn i{
  color:white;
}
.events{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:auto;
  margin-top:6rem;
  gap:1rem;
}
.header{
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:2rem;
}
.header h4{
  padding-top:0.2rem;
}
.card button{
  color:white;
}
.card i{
  color:white;
}
.cards{
  margin-top:1rem;
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.card{
 /*background-color: #eaf2f8;*/
 background-color: white;
  height: 27rem;
  width: 30%;
  border-radius: 1.5rem 1.5rem;
  border: 1px solid rgb(206, 199, 199);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.card-body{
  color: #293241;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:0.5rem;
} 
.card-body i{
  color:black;
}
.flex{
  align-items: center;
  justify-content: space-between;
  gap:0.5rem;
  display: flex;
}
.card-body div{
  height:30%;
  margin-bottom:1rem;
}
.card-body .card-title{
  align-items: center;
  justify-self: baseline;
}
.card-title{
  font-weight: bold;
}
.navbar-toggler-icon{
  color: white;
}
.btn{
  /*background-color: #ee6c4d;*/
  /*background-color: #d98880;*/
 /* background-color: #909497;
  border-color: #909497;*/
  background-color: #98999B;
  border-color: #98999B;
  border-radius: 1rem;
  color: #293241;
}
.btn:hover{
  background-color: #a41b1b;
  border-color: #a41b1b;
 color: white;
}
.btn:active{
  background-color: #a41b1b;
  border-color: #a41b1b;
 color: white;
}
.btn:focus{
  background-color: #a41b1b;
  border-color: #a41b1b;
 color: white;
}

.pagination{
  margin-top:1rem;
}

.pagionation-buttons{
  display: flex;
  gap:0.2rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.event-btn:hover{
  background-color: #D8515D;
  border-color:#D8515D ;
}

.pagionation-buttons button{
  background-color: #98999B;
  border-color: #98999B;
  border-radius: 0.5rem;
}
.pagionation-buttons .active button{
  background-color: #98999B;
  border-color: #98999B;
  border-radius: 0.5rem;
}
.pagionation-buttons button:hover{
  background-color: #D8515D;
  border-color:#D8515D ;
}
.pagionation-buttons button:active{
  background-color: #D8515D;
  border-color:#D8515D ;
}
.pagionation-buttons button:focus{
  background-color: #D8515D;
  border-color:#D8515D ;
}
.filter-section-events{
  display: flex;
  flex-direction:row;
  gap:1rem;
}

@media screen and (max-width: 800px){
  .header{
    flex-direction: column;
  }
  .filter-section-events{
    flex-direction: column;
  }
.cards{
  justify-content: center;
}
.card{
  width:80%;
}
.navbar-toggler{
  margin-right:1rem;
}
.hide{
  display: none;  
}
.pagination{
  width:80%;
  padding:0;
  gap:2rem;
  align-items: center;
  justify-content: space-between;
}
.pagination button{
  width: 10rem;
}
}